*.bak
*~
~*
*.log
*.lock
.dbeaver
.project
*.zip
**/tdvt_output_combined.json
**/tdvt_log_combined.txt
**/tdvt.log_combined.txt
**/test_results_combined.csv
**/tdvt_results_workbook.twbx
.idea
*.iml
*.env

**/target/
**/.classpath
**/.project
**/.settings/org.eclipse.jdt.apt.core.prefs
**/.settings/org.eclipse.core.resources.prefs
**/.settings/org.eclipse.m2e.core.prefs
**/.settings/org.eclipse.m2e.core.prefs
/tableau-server-GUI-tests/src/test/resources/credentials.properties
/jdbc-kerberos-setup-test/test.properties
/jdbc-kerberos-setup-test/logs
/javascript-test/node_modules/
/javascript-test/coverage/

.DS_Store
*.swp
local
.dbeaver*
**/*.log
.directory
venv/
target
.cache
dependency-reduced-pom.xml
.classpath
pom.xml.versionsBackup
*.orig
*.old
*.md.html
*.flattened-pom.xml